/** Style for Joy Chat **/

@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

body {
    background: #252525;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rock Salt', cursive;
    color: #33b1ec;
}

p, small {
    color: #a7aec0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.card {
    border-color: #4c4c4c;
    background: #404040;
}

#contentWrap, #usersWrap {
    display: none;
}

.chat-area {
    height: 75vh;
    overflow-y: auto;    
}

ul {
    padding: 0;
}

ul#messages li {
    padding: 12px 24px;
    margin-bottom: 16px;
    list-style: none;
    background: #ccc;
    border-radius: 16px;
    border-bottom-left-radius: 4px;
    background: #525252;
    background: -webkit-linear-gradient(to bottom, #90adfb, #89cefb);
    background: linear-gradient(to bottom, #90adfb, #89cefb);
    color: #fff;
    width: auto;
    display: inline-block;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ccc;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #33b1ec;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: white;
    background-color: transparent;
}

.btn-secondary {
    color: #fff;
    background-color: #33b1ec;
    background-image: none;
    border-color: #33b1ec;
}

.btn-secondary:hover {
    background-color: #1fa4e2;
    border-color: #1fa4e2;
}

.btn-outline-secondary {
    color: #33b1ec;
    background-color: transparent;
    background-image: none;
    border-color: #33b1ec;
}

.btn-outline-secondary:hover {
    background-color: #33b1ec;
    border-color: #33b1ec;
}

.form-control:focus {
    box-shadow: none;
}

.self {
    border-radius: 16px !important;
    border-bottom-right-radius: 4px !important;
    float: right;
    background: linear-gradient(to bottom, #fb90ed, #fb89b0) !important;
}